.todo {
    margin: auto;
    padding: 20px;
    display: block;
    box-sizing: border-box;
  }
  
  .todo h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .todo h1:first-child {
    font-size: 24px;
    color: #333;
  }
  
  .todo h1:last-child {
    font-size: 18px;
    color: #666;
  }